<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Trainers</title>
</head>
<body>
  <h1>All Trainers</h1>
  {{range .}}
    {{.Name}}<br>
    {{.Age}}<br>
    {{.City}}<br>
    <p>--------</p><br>
  {{end}}
</body>
</html>